#titulo{
	text-align:center;
}
body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Arial', sans-serif; 
  color: #33475b;    
      }
img{
	text-align:center;
  width: 150px; 
  padding: 10px;
  font-family: 'Arial', sans-serif; 
  color: #33475b;    
      }